.cards
  width 100%
  display grid
  grid-template-columns 1fr
  grid-template-rows auto
  grid-gap rem(20)
  margin-bottom rem(60)
  +above(l)
    grid-template-columns 1fr 1fr
  +above(xl)
    grid-template-columns 1fr 1fr 1fr

  &__item
    width 100%
    display flex
    padding rem(15)
    box-shadow 3px 3px 10px rgba($black, 0.1)
    border-radius 12px
    @extend .montserrat
    +above(l)
      padding rem(20)

    &__value
      margin-right rem(20)
      font-size rem(30)
      font-weight 500
      +above(l)
        font-size rem(60)

    &__name
      flex 1
      font-size rem(20)
      text-transform uppercase
      +above(l)
        font-size rem(30)