.combo
  width 100%
  margin rem(5 0)

  &__wrapper
    position relative

  &__label
    width 100%
    display flex
    align-items center
    position relative

  &__input
    order 2
    flex 1
    padding rem(10 0)
    color $black

  &__icon
    order 3
    user-select none
    color $secondary
    
    ~/__input.--focused ~ &
    ~/__input.--validated ~ &
    ~/__input.--filled ~ &
      color $primary

    ~/__input.--error ~ &
      color $error

    &--prefix
      width 30px
      order 1

    svg
      font-size rem(18)
      transition color 0.1s ease-in

  &__text
    user-select none
    position absolute
    top 50%
    left 30px
    color $terciary
    transform translateY(-50%)
    transition 0.1s ease-out

    ~/__input.--focused ~ &
    ~/__input.--validated ~ &
    ~/__input.--filled ~ &
      top 0
      font-size rem(12)
      color $primary

    ~/__input.--error ~ &
      color $error

  &__bar
    width 100%
    height 1px
    background-color $secondary
    position absolute
    top 100%
    left 0

    &:after
      content ''
      width 100%
      height 100%
      background-color $primary
      position absolute
      top 0
      left 0
      opacity 0
      transform scaleX(0.4)
      transition opacity 0.1s ease-out, transform 0.2s ease-in

      ~/__input.--focused ~ &
      ~/__input.--validated ~ &
      ~/__input.--error ~ &
      ~/__input.--filled ~ &
        opacity 1
        transform scaleX(1)
        
      ~/__input.--error ~ &
        background-color $error

  &__dropdown
    width 100%
    padding rem(10 0)
    background-color $white
    box-shadow 0 3px 10px rgba($black, 0.1)
    border-bottom-left-radius 8px
    border-bottom-right-radius 8px
    position absolute
    top 100%
    left 0
    transform-origin 0 0
    overflow hidden
    z-index 1

    &__item
      padding rem(10 20)
      font-size rem(12)
      color $terciary
      white-space nowrap
      text-overflow ellipsis
      overflow hidden
      cursor pointer
      transition 0.2s ease-in

      &--selected
      &:hover
        background-color $quaternary
        color $primary

  &__error
    display block
    margin-top rem(5)
    font-size rem(12)
    color $error